@font-face {
    font-family: "Cocomat Light-trial";
    src: url(./fuentes/Cocomat-Light-trial.ttf);
}
@font-face {
    font-family: "Cocomat Ultralight-trial";
    src: url(./fuentes/CocomatLight-trial.ttf);
}
@font-face {
    font-family: "Anton";
    src: url(./fuentes/Anton.ttf);
}
@font-face {
    font-family: "Anton-Regular";
    src: url(./fuentes/Anton-Regular.ttf);
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url(./fuentes/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(fuentes/Montserrat-Bold.ttf);
}



body 
{
    margin: 0 auto;
    width: 100%;
    background-color: #1D1D23;
    
}





#pagina
{
    width: 100;
    background-color: #1D1D23;
    margin: 2px;
    border: #1D1D23;
}

.encabezado 
{
    background-color: #1D1D23;
    width:100%;
    border: 5px solid #1D1D23;
    display: flex;
    align-items: center;
}

.botones
{
    width:auto; 
    border: 5px solid #1D1D23;
    background-color: #1D1D23;
    display: flex; /**para que cada palabra este al lado de otra **/
    flex-direction: row; /**para que cada palabra este al lado de otra **/
    justify-content: space-between;
    gap: 50px;
    font-family: "Cocomat Light-trial";
    font-size: 18px;
    color: #ffffff;
    margin-left: 50px;
}

.botones a /** le saco el subrayado a los botones y le pongo color blanco a las letras **/
{
    text-decoration: none; /**none significa nada**/
    color: #ffffff;
}




#banner
{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    text-align: center;
    font-size: 18px;
}

#buscar 
{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 20px;
    font-family: "Montserrat-Regular";
    font-size: 18px;
    color: #ffffff;
}




.contenedor-cards-peliculas{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 10fr);
    gap: 3%;
    margin-top: 20px;
}

.card-pelicula{
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    padding-bottom: 10px;
}

.card-pelicula:hover{
    box-shadow:  0 0 10px #EF233C;
}

.poster-pelicula{
    display: block;
    width: 100%;
    height: 75%;
    border-radius: 10px 10px 0 0;
}

.contenedor-info-pelicula{
    text-align: start;
}

.estreno-pelicula{
    background-color: #EF233C;
    color: #FFFFFF;
    font-family: 'Montserrat-Bold';
    margin: 0;
    padding: 5px;
}

.titulo-pelicula{
    font-family: 'Montserrat-Bold';
    font-weight: 700;
    margin: 5px 0 10px 0;
    text-align: center;
}

.dato-pelicula{
    font-family: 'Montserrat-Regular';
    font-size: 1em;
    margin: 1px 0 0 5%;
    font-weight: 700;
}




#footer
{
    width: 100%;
    background-color: #ef233c;
    border: 2px solid #ffffff;
    margin-top: 20px;
}

.informacion
{
    width: 100%;
    margin: 4px;
    color: #ffffff;
    font-family: "Montserrat-Regular";
    font-size: 14px;
}