@font-face {
    font-family: "Cocomat Light-trial";
    src: url(./fuentes/Cocomat-Light-trial.ttf);
}
@font-face {
    font-family: "Cocomat Ultralight-trial";
    src: url(./fuentes/CocomatLight-trial.ttf);
}
@font-face {
    font-family: "Anton";
    src: url(./fuentes/Anton.ttf);
}
@font-face {
    font-family: "Anton-Regular";
    src: url(./fuentes/Anton-Regular.ttf);
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url(./fuentes/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(fuentes/Montserrat-Bold.ttf);
}



body 
{
    margin: 0 auto;
    width: 100%;
    background-color: #1D1D23;
    
}





#pagina
{
    width: 100;
    background-color: #1D1D23;
    margin: 2px;
    border: #1D1D23;
    margin: 20px;
}

.encabezado 
{
    background-color: #1D1D23;
    width:100%;
    border: 5px solid #1D1D23;
    display: flex;
    align-items: center;
}

.botones
{
    width:auto; 
    border: 5px solid #1D1D23;
    background-color: #1D1D23;
    display: flex; /**para que cada palabra este al lado de otra **/
    flex-direction: row; /**para que cada palabra este al lado de otra **/
    justify-content: space-between;
    gap: 50px;
    font-family: "Cocomat Light-trial";
    font-size: 18px;
    color: #ffffff;
    margin-left: 50px;
}

.botones a /** le saco el subrayado a los botones y le pongo color blanco a las letras **/
{
    text-decoration: none; /**none significa nada**/
    color: #ffffff;
}



.contenedor-titulo-xperience{
    font-family: 'Montserrat-Bold';
    font-weight: bolder;
    color: #FFFFFF;
    margin: 4% 0 4% 0;
}

.contenedor-titulo-xperience h1{
    background-image: url(imagenes/sakd.png);
    background-repeat: repeat;
    background-size: contain;
    text-align: center;
    border-radius: 15px;
    padding: 0.3em 0 1.2em 0;
}

.ocultar
{
    display: none;
}




#sala
{
    width: 100%;
}

#sala h1{
    margin: 0 0 0 10px;
}

#sala p{
    font-size: 0.9em;
    margin: 0 20px 0 0;
}

.tiposalaA
{
    width: 100%;
    height: auto;
    font-size: 18px;
    background-color: #ef233c;
    border: 2px solid #ef233c;
    margin-top: 0px;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    text-align: justify;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Montserrat-Regular";
    box-sizing: border-box;
}

.tiposalaA img{
    width: 600px;
    height: auto;
    margin: 0 auto;
    transition: transform 0.5s;
}


.tiposalaB
{
    width: 100%;
    height: auto;
    font-size: 18px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    margin-top: 0px;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    text-align: justify;
    align-items: center;
    text-decoration: none;
    color: #1D1D23;
    font-family: "Montserrat-Regular";
    box-sizing: border-box;
}

.tiposalaB img{
    width: 600px;
    height: auto;
    margin: 0 auto;
}

.titulo-salasA
{
    width: 100%;
    height: auto;
    font-size: 25px;
    background-color: #ef233c;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-family: "Montserrat-Regular";
    margin-bottom: 0;
    margin-top: 20px;
    overflow: hidden;
}

.titulo-salasB
{
    width: 100%;
    height: auto;
    font-size: 25px;
    background-color: #FFFFFF;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #1D1D23;
    font-family: "Montserrat-Regular";
    margin-bottom: 0;
    margin-top: 20px;
}

.tiposalaA, .tiposalaB
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tiposalaA img, .tiposalaB img
{
    transition: margin 0,5s;
}

.tiposalaA p, .tiposalaB p
{
    padding: 10px;
}



#footer
{
    width: 100%;
    background-color: #ef233c;
    border: 2px solid #ffffff;
    margin-top: 60px;
}

.informacion
{ 
    width: 100%;
    margin: 4px;
    color: #ffffff;
    font-family: "Montserrat-Regular";
    font-size: 14px;

}

@media (max-width: 700px) {
    #sala{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 4px;
    }

    .tiposalaA, .tiposalaB{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 10%;
    }

    .tiposalaA img{
        width: 350px;
        height: 200px;
    }

    .tiposalaB img{
        width: 350px;
        height: 200px;
    }

    .ocultar{
        width: 50vh;
    }
}